<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Einbindung von Semantic UI CSS für ansprechendes Design. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
    <div class="ui container">
        <div class="ui middle aligned center aligned grid" style="height: 100vh;">
            <div class="column" style="max-width: 450px;">
                <h2 class="ui teal image header">
                    <div class="content">
                        Tuskmanager - deine Todo-Liste App
                    </div>
                </h2>
                <!-- Formular für den Login. -->
                <form class="ui large form" action="{{ url_for('login') }}" method="post">
                    <div class="ui stacked segment">
                        <!-- Eingabefeld für den Benutzernamen. -->
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="Benutzername" required>
                            </div>
                        </div>
                        <!-- Eingabefeld für das Passwort. -->
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Passwort" required>
                            </div>
                        </div>
                        <!-- Button zum Absenden des Formulars. -->
                        <button class="ui fluid large teal submit button" type="submit">Login</button>
                    </div>
                </form>
                <!-- Link zur Registrierungsseite. -->
                <div class="ui message">
                    Neu hier? <a href="{{ url_for('register') }}">Registrieren</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Einbindung von Semantic UI JavaScript. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>
